<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luz de Santiago | Contacto</title>
</head>

<body>

    <header>
        <a href="inicio.html">  
            <img src="../../routes/inicio/isotipo.png" width="100" height="50" alt="logo Luz de Santiago Estudio Fotografico">
            <p>Luz de Santiago</p>
        </a>

        <nav aria-label="Navegacion principal">
            <ul>
                <li><a href="inicio.html">INICIO</a></li>
                <li><a href="planes.html">PLANES</a></li>
                <li><a href="galeria.html">GALERIA</a></li>
                <li><a href="nosotros.html">NOSOTROS</a></li>
                <li><a href="contacto.html" aria-current="page">CONTACTO</a></li>
            </ul>
        </nav>

        <a href="planes.html">Solicitar planes</a>
    </header>

    <main>




    </main>

    <footer>

        <address>
            <a href="inicio.html">
                <img src="../../routes/inicio/isotipo.png" width="100" height="50" alt="logo Luz de Santiago Estudio Fotografico">
                <p>LUZ DE SANTIAGO - ESTUDIO FOTOGRÁFICO</p>
            </a>
        </address>
        
        <nav aria-label="Navegacion del pie de pagina">
        <h3>NAVEGACIÓN</h3>
            <ul>
                <li><a href="inicio.html">INICIO</a></li>
                <li><a href="servicios.html">PLANES</a></li>
                <li><a href="galeria.html">GALERIA</a></li>
                <li><a href="nosotros.html">NOSOTROS</a></li>
                <li><a href="contacto.html"  aria-current="page">CONTACTO</a></li>
            </ul>
        </nav>


        <div>
            <h3>PARA MAS INFORMACIÓN</h3>
        <address>
            
            <uL>
                <li><a href="tel:+18291234567">829-123-4567</a></li>
                <li><a href="mailto:luzsantiago@gmail.com">luzsantiago@gmail.com</a></li>
                <li><a href="https://facebook.com/luzdesantiago">Facebook</a></li>
                <li><a href="https://instagram.com/luzdesantiago">Instagram</a></li>
            </uL>
        </address>
        </div>
        
        <p>&copy; LUZ DE SANTIAGO ESTUDIO FOTOGRAFICO - TODOS LOS DERECHOS RESERVADOS</p>


    </footer>


</body>

</html>
