<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luz de Santiago | Inicio</title>
</head>
<body>
    
<header>
    <a href="inicio.html">  
        <img src="logo-luz-santiago.png" alt="logo Luz de Santiago Estudio Fotografico">
        <p>Luz de Santiago</p>
    </a>

    <nav aria-label="Navegacion principal"></nav>
        <ul>
            <li><a href="inicio.html" aria-current="page">INICIO</a></li>
            <li><a href="servicios.html">PLANES</a></li>
            <li><a href="galeria.html">GALERIA</a></li>
            <li><a href="nosotros.html">NOSOTROS</a></li>
            <li><a href="contacto.html">CONTACTO</a></li>
        </ul>
    </nav>

    <a href="planes.html">Solicitar planes</a>
</header>

<main>



</main>

</body>
</html>