<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luz de Santiago | Inicio</title>
</head>
<body>
    
<header>
    <a href="inicio.html">  
        <img src="logo-luz-santiago.png" alt="logo Luz de Santiago Estudio Fotografico">
        <p>Luz de Santiago</p>
    </a>

    <nav aria-label="Navegacion principal"></nav>
        <ul>
            <li><a href="inicio.html" aria-current="page">INICIO</a></li>
            <li><a href="servicios.html">PLANES</a></li>
            <li><a href="galeria.html">GALERIA</a></li>
            <li><a href="nosotros.html">NOSOTROS</a></li>
            <li><a href="contacto.html">CONTACTO</a></li>
        </ul>
    </nav>

    <a href="planes.html">Solicitar planes</a>
</header>

<main>

    <section id="Presentacion principal">
        <figure>
            <img src="hero-bebe.jpg" alt="Hero bebe recien nacido">
            <figcaption>
                <h1>LA FOTOGRAFIA, UNA FORMA DE PLASMAR RECUERDOS</h1>
            </figcaption>
        </figure>
    </section>

    <section id="titulo de bienvenida">
        <header>
            <h2>BIENVENIDO A LUZ DE SANTIAGO</h2>
            <p>MAS QUE FOTOS, EMOCIONES CAPTURADAS</p>
        </header>

        <p>En nuestro estudio de fotografía, capturamos la esencia de tus momentos más preciados. 
            Ya sea una sesión familiar, de maternidad, o un retrato personal, entendemos la importancia de preservar estos instantes únicos con imágenes de alta calidad.
           Nuestro equipo se dedica a crear una atmósfera relajada y cómoda, asegurándose de que disfrutes cada momento de la sesión.</p>

        <p>Ofrecemos una variedad de accesorios, fondos y escenarios personalizados que reflejan tu estilo y personalidad única. Creemos que cada foto cuenta una historia, y nuestro objetivo es capturar las emociones y conexiones genuinas que hacen que la tuya sea especial. Te ayudamos a crear recuerdos atemporales que tú y tus seres queridos atesorarán por años. Ven y vive una experiencia fotográfica llena de alegría, amor y memorias duraderas.</p>

        
        </section>
</main>

</body>
</html>