<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luz de Santiago | Nosotros</title>
</head>

<body>

     <header>
        <a href="inicio.html">
            <img src="logo-luz-de-santiago.png" alt="Logotipo Luz de Santiago">
            <p>LUZ DE SANTIAGO</p>
        </a>

        <nav aria-label="Navegación principal">
            <ul>
                <li><a href="inicio.html">INICIO</a></li>
                <li><a href="planes.html">PLANES</a></li>
                <li><a href="galeria.html">GALERIA</a></li>
                <li><a href="nosotros.html" aria-current="page">NOSOTROS</a></li>
                <li><a href="contacto.html">CONTACTO</a></li>
            </ul>
        </nav>

        <a href="planes.html">Solicitar planes</a>
    </header>

    <main>

        <div class="Presentación-principal">

            <figure>

                <img src="hero-nosotros.jpg" alt="Fotógrafo trabajando en un estudio con equipo de iluminación">

                <figcaption>

                    <h1>Sobre Nosotros</h1>
                    <p>CONOCE UN POCO MAS SOBRE NOSOTROS</p>

                </figcaption>

            </figure>

        </div>

        <div class="nosotros-titulo">

            <figure>

                <img src="ron-damon-fotografo.jpg" alt="Ron Damon, fotógrafo principal de Luz de Santiago, sosteniendo una cámara">

            </figure>

            <article>

                <h2>BIENVENIDOS A LUZ DE SANTIAGO</h2>

                <p>En Luz de Santiago, liderado por el fotógrafo principal Ron Damon, capturamos la esencia de cada momento especial. Nuestro estudio está diseñado para crear experiencias únicas y recuerdos inolvidables, cuidadosamente elaborados que se adaptan a cada ocasión. Desde escenas navideñas llenas de encanto hasta espacios glamurosos y acogedores, ofrecemos el escenario perfecto para cada sesión.</p>

                <p>¡Permítenos ser parte de tus historias y transformar tus recuerdos en obras de arte que atesorarás por siempre!</p>

                <a href="contacto.html" role="button">Contactanos</a>

            </article>

        </div>

        <div class="Instagram">

            <p>SIGUENOS EN INSTAGRAM</p>
            <p><a href="https://instagram.com/luzdesantiago">@LUZDESANTIAGO</a></p>
            <p>Conoce mas de nuestro trabajo</p>

        </div>

    </main>

    <footer>

        <address>
            <a href="inicio.html">
                <img src="logo-luz-santiago.png" alt="logo Luz de Santiago Estudio Fotografico">
                <p>LUZ DE SANTIAGO - ESTUDIO FOTOGRÁFICO</p>
            </a>
        </address>
        
        <nav aria-label="Navegacion del pie de pagina">
        <h3>NAVEGACIÓN</h3>
            <ul>
                <li><a href="inicio.html">INICIO</a></li>
                <li><a href="servicios.html">PLANES</a></li>
                <li><a href="galeria.html">GALERIA</a></li>
                <li><a href="nosotros.html" aria-current="page">NOSOTROS</a></li>
                <li><a href="contacto.html">CONTACTO</a></li>
            </ul>
        </nav>


        <div>
            <h3>PARA MAS INFORMACIÓN</h3>
        <address>
            
            <uL>
                <li><a href="tel:+18291234567">829-123-4567</a></li>
                <li><a href="mailto:luzsantiago@gmail.com">luzsantiago@gmail.com</a></li>
                <li><a href="https://facebook.com/luzdesantiago">Facebook</a></li>
                <li><a href="https://instagram.com/luzdesantiago">Instagram</a></li>
            </uL>
        </address>
        </div>
        
        <p>&copy; LUZ DE SANTIAGO ESTUDIO FOTOGRAFICO - TODOS LOS DERECHOS RESERVADOS</p>

    </footer>

</body>



</html>