<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luz de Santiago | Nosotros</title>
</head>

<body>
    
     <header>
        <a href="inicio.html">
            <img src="logo-luz-de-santiago.png" alt="Logotipo Luz de Santiago">
            <p>LUZ DE SANTIAGO</p>
        </a>

        <nav aria-label="Navegación principal">
            <ul>
                <li><a href="inicio.html">INICIO</a></li>
                <li><a href="planes.html">PLANES</a></li>
                <li><a href="galeria.html">GALERIA</a></li>
                <li><a href="nosotros.html" aria-current="page">NOSOTROS</a></li>
                <li><a href="contacto.html">CONTACTO</a></li>
            </ul>
        </nav>

        <a href="planes.html">Solicitar planes</a>
    </header>

</body>

</html>